body{
    background-color: #bcf1e0;
    margin-left: 20%;
    margin-right: 20%;
}
legend{
    
    color: rgb(25, 25, 124);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
}
fieldset{
    background-color: rgb(217, 237, 255);
    font-family: cursive;
}